<span class="mb-4 font-medium block text-slate-300">Example</span>

<div class="relative">
  <div
    class="rounded-3xl w-80 iphone-h p-4 border-8 overflow-hidden border-slate-300 dark:border-slate-600 relative shadow-2xl dark:bg-slate-800"
  >

  <!-- <svg viewBox="0 0 219 31" class="sc-twp21j-3 fRBfCW"><path d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z" fill-rule="evenodd"></path></svg> -->
    <div
      class="rounded-b-2xl bg-slate-300 dark:bg-slate-600 w-40 h-7 absolute z-50 -top-2 left-1/2 -translate-x-1/2 flex items-center justify-center"
    >
      <div class="rounded-lg h-1 w-1/4 bg-slate-400"></div>
    </div>
    <app-demo
      [demo]="demo"
      [config]="config"
      (emulatorEvents)="handleConsoleEvents($event)"
      class="h-full block"
    ></app-demo>
  </div>

  <div
    class="absolute left-80 w-full max-w-md h-5/6 translate-x-4 top-0 bg-slate-800 dark:bg-slate-900 p-4 rounded-3xl animate-console flex flex-col"
    *ngIf="showApiConsole$ | async"
  >
    <!-- tabs -->
    <div class="w-full flex flex-row gap-4 mb-4">
      <div
        class="flex items-center justify-center rounded-full text-white cursor-pointer py-2 w-full"
        [ngClass]="{
          'bg-transparent': activeConsoleTab != 'calls',
          'bg-slate-700': activeConsoleTab == 'calls'
        }"
        (click)="activeConsoleTab = 'calls'"
      >
        Calls
      </div>
      <div
        class="flex items-center justify-center rounded-full bg-slate-700 text-white cursor-pointer py-2 w-full"
        [ngClass]="{
          'bg-transparent': activeConsoleTab != 'state',
          'bg-slate-700': activeConsoleTab == 'state'
        }"
        (click)="activeConsoleTab = 'state'"
      >
        State
      </div>
    </div>

    <!-- Calls -->

    <div
      class="overflow-x-auto h-full"
      #calls
      *ngIf="activeConsoleTab == 'calls'"
    >
      <p
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse font-medium text-slate-600"
        *ngIf="!consoleEvents.length"
      >
        Waiting for calls ...
      </p>
      <div
        *ngFor="let event of consoleEvents"
        (click)="eventsExpanded[event.id] = !eventsExpanded[event.id]"
        class="font-medium text-sm rounded-xl p-2 mb-2 text-cyan-500 relative hover:bg-cyan-800 cursor-pointer"
        [ngClass]="{ 'text-red-500': event.type == eventTypes.error }"
      >
        <div class="flex gap-3 flex-row">
          <time class="text-slate-400 w-20">{{
            event.time | date: "h:mm:ss a"
          }}</time>
          <p class="text-white">
            [<span class="text-orange-300">{{
              event.type == eventTypes.error ? 500 : 200
            }}</span
            >]
          </p>
          <p class="pr-8">
            {{ event.message }}
          </p>
        </div>
        <div
          class="absolute top-2 right-2"
          [ngClass]="{ 'rotate-180': eventsExpanded[event.id] == true }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>

        <div class="" *ngIf="eventsExpanded[event.id] == true">
          <ng-container *ngIf="event.data">
            <label class="mb-1 text-lime-500 text-sm">Data</label>
            <div
              class="text-lime-200 font-normal text-sm overflow-hidden text-ellipsis"
              *ngFor="let obj of event.data | keyvalue"
            >
              {{ obj.key }} :
              <pre class="inline">{{ obj.value | json }}</pre>
            </div>
          </ng-container>
          <p *ngIf="!event.data">No further information</p>
        </div>
      </div>
    </div>

    <!-- State -->
    <div
      class="overflow-x-auto h-full flex flex-col gap-3"
      *ngIf="activeConsoleTab == 'state'"
    >
      <ng-container *ngIf="demoService.getState() | async as state">
        <div
          class="flex flex-row gap-5 hover:bg-cyan-800 rounded-xl p-2 text-sm font-medium cursor-pointer"
          *ngFor="let stateProp of state | keyvalue"
          (click)="togglee[stateProp.key] = !togglee[stateProp.key]"
        >
          <label class="text-slate-400 w-20">{{ stateProp.key }}</label>
          <p
            class="text-cyan-500 overflow-hidden text-ellipsis"
            *ngIf="!togglee[stateProp.key]"
          >
            {{ stateProp.value | json | slice: 0:50 }}
          </p>
          <p
            class="text-cyan-500 overflow-hidden text-ellipsis"
            *ngIf="togglee[stateProp.key]"
          >
            {{ stateProp.value | json }}
          </p>
          <!-- <input
            type="text"
            [value]="stateProp.value"
            (input)="updateState($event, stateProp.key)"
            class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800 dark:text-slate-300"
          /> -->
        </div>
      </ng-container>
    </div>
  </div>

  <button
    (click)="toggleApiCalls()"
    class="absolute bottom-0 p-2 left-80 rounded-lg shadow-md bg-white translate-x-4 -translate-y-4"
  >
    <ng-container *ngIf="showApiCalls$ | async; else open">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </ng-container>
    <ng-template #open>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </ng-template>
  </button>
</div>
