<div class="p-4 pt-10 rounded-3xl z-30 w-full relative h-full overflow-y-auto">
  <h2 class="text-3xl font-bold mb-12 flex justify-between dark:text-white">
    Send
    <div class="relative z-50" *ngIf="!waiting">
      <div
        class="h-9 p-2 px-4 rounded-xl shadow-md flex items-center justify-center text-sm cursor-pointer"
        (click)="showCurrencyPicker = !showCurrencyPicker"
      >
        {{ demo.currency.code }}
      </div>
      <div
        class="absolute top-full right-0 bg-white shadow-md text-sm rounded-xl p-2"
        *ngIf="showCurrencyPicker"
      >
        <ul class="p-0 m-0 list-none">
          <li
            class="px-3 py-2 hover:bg-blue-200 cursor-pointer rounded-xl"
            *ngFor="let currency of demo.currencies; let i = index"
            (click)="demo.setCurrency(i); showCurrencyPicker = false"
          >
            {{ currency.code }}
          </li>
        </ul>
      </div>
    </div>
    <div
      *ngIf="waiting"
      class="w-9 h-9 p-2 bg-indigo-600 rounded-full flex items-center justify-center"
    >
      <div class="w-9 h-1 bg-white animate-spin rounded-lg"></div>
    </div>
  </h2>

  <h3 class="mb-3 text-sm text-slate-400">Your balance</h3>
  <p class="mb-6 font-bold text-slate-500">
    {{ this.demo.balance | currency: demo.currency.code }}
  </p>

  <div class="flex flex-row gap-4">
    <button
      (click)="demo.updateState({ transactionType: 'peyya' })"
      class="px-8 py-4 justify-center w-full flex uppercase hover:shadow-xl font-bold items-center rounded-xl mb-6 cursor-pointer"
      [ngClass]="{
        'bg-blue-600 text-white':
          demo.getStateProp('transactionType') == 'peyya'
      }"
    >
      Peyya
    </button>
    <button
      (click)="demo.updateState({ transactionType: 'bank' })"
      class="px-8 py-4 justify-center w-full flex bg-blue-600 text-white uppercase hover:shadow-xl font-bold items-center rounded-xl mb-6 cursor-pointer"
      [ngClass]="{
        'bg-blue-600 text-white': demo.getStateProp('transactionType') == 'bank'
      }"
    >
      Bank
    </button>
  </div>
  <label class="mb-2 block font-medium">Amount</label>

  <div class="flex flex-row gap-3 mb-4">
    <input
      type="number"
      placeholder="Amount"
      [(ngModel)]="transactionAmount"
      class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none"
    />
    <div
      class="p-3 rounded-md bg-slate-300 text-white hover:shadow-lg cursor-pointer"
      (click)="maxOut()"
    >
      MAX
    </div>
  </div>
  <ng-container *ngIf="demo.getStateProp('transactionType') == 'peyya'">
    <label class="mb-2 block font-medium">Peyya wallet</label>
    <input
      type="tel"
      [(ngModel)]="walletOrPeyyaId"
      placeholder="Phone number"
      class="block w-full px-4 py-3 border-b-2 mb-4 border-slate-300 outline-none"
    />
  </ng-container>
  <ng-container *ngIf="demo.getStateProp('transactionType') == 'bank'">
    <label class="mb-2 block font-medium">Iban</label>
    <input
      type="tel"
      [(ngModel)]="iban"
      placeholder="Iban number"
      class="block w-full px-4 py-3 border-b-2 mb-4 border-slate-300 outline-none"
    />
  </ng-container>
  <div class="flex flex-row-reverse mt-10">
    <button
      *ngIf="!waiting"
      (click)="transaction($event)"
      class="px-8 py-4 rounded-xl bg-purple-500 text-white uppercase font-bold hover:shadow-xl"
    >
      Send money
    </button>
    <button
      disabled
      *ngIf="waiting"
      class="px-8 py-4 rounded-xl bg-purple-500 text-white uppercase font-bold hover:shadow-xl"
    >
      <svg
        role="status"
        class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-slate-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
    </button>
  </div>
  <button
    *ngIf="showRestart"
    (click)="restart($event)"
    class="px-8 py-4 rounded-xl bg-rose-500 text-white uppercase font-bold hover:shadow-xl absolute bottom-0 right-0"
  >
    Restart
  </button>

  <div
    class="p-3 bg-red-500 text-white rounded-xl mb-4 animate-slidein z-50 absolute bottom-0"
    *ngIf="transactionError"
  >
    {{ transactionError }}
  </div>
</div>
